/bin/
/Libs/
/.settings/
/.classpath
/Reports
/Extent
/.project
/.gradle/
/Drivers/
.cache
.DS_Store
settings/
.hyperexecute
.updatedhyperexecute.yaml
hyperexecute
hyperexecute-cli.log
hyperexecuteupdate
.aider*
